<form [formGroup]="myForm">
  
  <div *ngFor="let category of categories" class="field-checkbox">
    <p-checkbox [formControl]="myForm.controls.selectedCategory" [value]="category"
                [inputId]="category.value"></p-checkbox>
    <label [for]="category.value">{{category.label}}</label>
  </div>
  
  <button pButton type="button" label="Select All" 
          (click)="selectAll()" class="mr-2"></button>
  <button pButton type="button" label="Deselect All" (click)="deselectAll()"></button>
</form>

<br/>
<br/>
<br/>
<p-toast position="top-center"></p-toast>
<button  pButton (click)="showToast()" label="show toast"></button>
<br/>
<br/>
<!-- <p-message severity="info" text="Some Text"></p-message> -->
<br/>
<!-- <p-messages [enableService]="true"></p-messages> -->

<!-- <p-messages [(value)]="message1" ></p-messages> -->

<button type="button" pButton  (click)="addMessages()" label="Show" class="mr-2"></button>
<button type="button" pButton  (click)="clearMessages()" icon="pi pi-times" label="Clear" class="p-button-secondary"></button>



<p-card styleClass="user-form" class="flex justify-content-center">
  <form [formGroup]="userForm" (ngSubmit)="addUser()">
    <div class="field">
      <label for="firstName" class="block">First Name</label>
      <input
        type="text"
        pInputText
        placeholder="first name"
        formControlName="firstName"
      />
      <small class="p-error block"*ngIf="userForm.get('firstName')?.invalid &&
                                         userForm.get('firstName')?.dirty"> 
                                        First name is required
                                        </small>
    </div>
    <div class="field">
      <label for="lastName" class="block">Last Name</label>
      <input
        type="text"
        pInputText
        placeholder="last name"
        formControlName="lastName"
        />
    </div>
    <div formGroupName="address">
      <h2>Address</h2>

      <div class="field">
        <label for="street" class="block">street</label>
        <input
          type="text"
          pInputText
          placeholder="street"
          formControlName="street"
          />

          <small class="p-error block"*ngIf="userForm.get('address')?.get('street')?.invalid &&
          userForm.get('address')?.get('street')?.dirty"> 
         street is required
         </small>

      </div>

      <div class="field">
        <label for="postCode" class="block">postCode</label>
        <input
          type="text"
          pInputText
          placeholder="postCode"
          formControlName="postCode"
          />
      </div>

    </div>

    <button pButton pRipple label="Submit" class="p-button-success" [disabled]="userForm.invalid"></button>
  </form>
</p-card>

<br/>
<br/>
<h2>Floating Label</h2>
<label for="firstName" class="block">First Name</label>
<div class="p-input-icon-left">
  <i class="pi pi-search"></i>
  <input type="text" pInputText [(ngModel)]="selectedInputText" id="firstName"
         [disabled]="false" placeholder="First Name"
         #fname="ngModel" required/>
  <small class="block p-error" *ngIf="fname.invalid && fname.dirty"> First Name is Required</small>
</div>


{{selectedInputText}}

<br/>
<br/>

<p-autoComplete [(ngModel)]="selectedItem" [suggestions]="autoCountries" 
(completeMethod)="search($event)" field="name"
[(ngModel)]="autoSelectedCountry"
(onSelect)="OnSelect($event)"
[dropdown]="true"
[multiple]="true"
[showEmptyMessage]="true"></p-autoComplete>
<br/>

<!-- <p-autoComplete [(ngModel)]="selectedItem" [suggestions]="autoCountries" 
(completeMethod)="search($event)" field="name"
[(ngModel)]="autoSelectedCountry"
(onSelect)="OnSelect($event)"
[dropdown]="true"
[forceSelection]="true"
></p-autoComplete>
<br/> -->

{{autoSelectedCountry | json}}
<br/>
<p-calendar 
 (onSelect)="DateChange($event)" 
 [showIcon]="true"
 selectionMode="range" [(ngModel)]="rangeDates" [readonlyInput]="true" ></p-calendar>

<br/>
<p-checkbox  
            (onChange)="CheckBox($event)" 
            label="New York"
            [(ngModel)]="selectedCheckBoxs"
            [disabled]="true"
            value="newyork" ></p-checkbox>
<br/>
<p-checkbox  
            (onChange)="CheckBox($event)" 
            label="California"
            [(ngModel)]="selectedCheckBoxs"
            value="california" ></p-checkbox>
<br/>


<br/>
<p-checkbox  
            (onChange)="CheckBox($event)" 
            [binary]="true" inputId="binary"
            label="New York"
            value="checked" ></p-checkbox>
<br/>

<p-multiSelect 
    [options]="countries" 
    [(ngModel)]="selectedCountries" 
    optionLabel="name" 
    placeholder="Select Cities" (onChange)="changeMulti($event)"
    [showClear]="true"
    [maxSelectedLabels]="2"
    [selectedItemsLabel]="'{0} items selected'" />
<p-dropdown 
    [options]="countries" 
    [(ngModel)]="selectedCountry" 
    optionLabel="name" 
    placeholder="Select a City" (onChange)="change($event)" optionValue="id" 
    optionDisabled="isActive" [editable]="true" [showClear]="true" [filter]="true"/>

<div class="slider-class">
  <h2>Table Example- Users List</h2>
  <!-- {{this.users|json}} -->
  <p-table 
           [value]="users"
           [lazy]="true"
           [columns]="cols"
           (onLazyLoad)="loadUsers($event)"
           selectionMode="single" 
           [scrollable]="true"
           [totalRecords]="totalRecords"
           [paginator]="true"
           [rows]="pageSize"
           [rowsPerPageOptions]="[5, 10, 20]"
           [showCurrentPageReport]="true"
           currentPageReportTemplate="Showing {first} to {last} of {{totalRecords}} entries"
           >
    <ng-template pTemplate="header" let-colz>
        <tr>
            <th *ngFor="let col of colz">
              {{col}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.paymentNetworkId }}</td>
            <td>{{ user.paymentNetwork }}</td>
            <td>{{ user.isActive }}</td>
            <td>{{ user.status }}</td>
        </tr>
    </ng-template>
</p-table>
</div>